.DS_Store
**/.DS_Store
**/node_modules/
**/dist/
**/build/
!windows/build/icon.ico
!windows/build/**
**/DerivedData/
**/xcuserdata/
**/*.xcodeproj/
mac/*.xcodeproj/
.idea/
.vscode/
*.log
.env
.env.*
!.env.example
.local/
